<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Weather Status - <%=place %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <style>
    *{
      box-sizing: border-box;
      outline: none !important;
    }
    body{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
    }
    .flex{
      display: flex;
    }
    .hcenter{
      justify-content: center;
    }
    .vcenter{
      align-items: center;
    }
    .col{
      flex-direction: column;
    }
    .no-border{
      border: none;
    }
    .rounded{
      border-radius: 5px;
    }
    .weather_status{
      width: 90%;
      max-width: 400px;
      height: max-content;
      padding: 32px;
      margin: 20px 0;
      border-radius: 15px;
      box-shadow: 0 0 10px -5px #121212;
    }
    .place{
      font-size: 24px;
      font-weight: bold;
    }
    .location{
      font-size: 14px;
    }
    .date{
      background-color: #121212;
      color: #fff;
      /* border-radius: 5px;   */
      padding: 5px;
    }
    .summary{
      line-height: 18px;
      font-size: 15px;
      margin: 5px 0;
    }
    .temperature{
      flex-grow: 1;
      padding-right: 10px;
    }
    .icon{
      width: 60px;
      height: 60px;
    }
    .card{
      margin: 20px 0;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0px 10px -5px #121212;
    }
    b{
      font-size: 14px;
      font-weight: normal;
    }
  </style>
</head>
<body class="flex hcenter">
  <section class="weather_status flex hcenter col">
    <div class="place">
      <%= place %> 
    </div>
    <div class="location">
      <%= location %> 
    </div>
    <div style="border-bottom: 1px solid #ddd;margin: 10px 0;"></div>
    <div class="card flex hcenter col">
      <h5 class="date" style="margin: 5px 0;">Today</h5>
      <div class="summary">
        <%= weather.today.summary %> 
      </div>
      <div class="data flex vcenter">
        <div class="temperature">
          <%= weather.today.temperature %>°F
        </div>
        <img class="icon" title= <%= weather.today.title %> src=<%= weather.today.icon %>  alt="weather Forecast Icon">
      </div>
    </div>

    <% for(let item of weather.daily) { %>
      <div class="card flex hcenter col">
        <h5 class="date" style="margin: 5px 0;"><%= item.date %> </h5>
        <div class="summary">
          <%= item.summary %>
        </div>
        <div class="data flex vcenter">
          <div class="temperature">
            <b>Min: </b> <%= item.temperatureMin %>°F <br> <b>Max: </b> <%= item.temperatureMax %>°F
          </div>
          <img title= <%= item.title %> class="icon" src=<%= item.icon %> alt="weather Forecast Icon">
        </div>
      </div>
    <% } %>
  </section>
  
</body>
</html>